<!DOCTYPE html>
<html>

    <head>
        <title>Tfetcher</title>
        <script type="text/javascript">
        window.page= 10;
        window.onload = function (){
          var retrievedObject = localStorage.getItem('containerObj');
          console.log('retrievedObject: ', JSON.parse(retrievedObject));
          if(retrievedObject!=null || retrievedObject!="" )
            {
              document.getElementById('hashtagid').value = JSON.parse(retrievedObject).val;
              window.page=JSON.parse(retrievedObject).len;

            }
        }
        </script>
    </head>
    <body>
      <div style="float:left; width:20%;">
        <h1><a href="/tfetcher/tweets/">Tweets</a><br/><br/>
        <a href="/tfetcher/hashtagsearch/">Hashtag Search</a></h1>
      </div>
      <div style="overflow:auto; float:left; width:80%;">
        <br/><br/>
        Hash Tag: <input id="hashtagid" type="text"/><br/>
        Length: {{ len }}<br/>
        <button onclick="searchHash();">Submit</button>
        <script type="text/javascript">
          function searchHash()
          {
            var contain={'val':document.getElementById('hashtagid').value,'len':window.page}
            localStorage.setItem('containerObj', JSON.stringify(contain));
            window.location='/tfetcher/hashtagsearch/'+ document.getElementById('hashtagid').value;
          }
        </script>

        Impressions:
        Tweets:
        Retweets:
        Tweeters:

        <!-- Display data over time -->

      </div>
    </body>

</html>
